<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modifier le nom de la playlist</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #formulaire="ngForm" (submit)="modifier()">
      <div class="form-group">
        <label for="nom">Nouveau nom</label>
        <input type="text" class="form-control" id="nom" placeholder="Nouveau nom" name="nom" [(ngModel)]="nom" required maxlength="30">
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Annuler</button>
    <button type="submit" class="btn btn-primary btn-default" (click)="modifier()">Modifier</button>
  </div>
</ng-template>

<button class="btn btn-primary btn-lg btn-block" (click)="open(content)"> Modifier</button>

