<hr>
<h1>Mes musiques</h1>
<hr>
<span *ngIf="listeMusiqueAchete.length != 0">
  <div  class="col-md-3" *ngFor="let musique of listeMusiqueAchete; index as i;">
      <div class="thumbnail">
        <img [src]="musique.image | image"  width="100%" height="100%">
        <audio controls controlsList="nodownload" [src]="musique.musiquecomplet | musiquefull" style="width:100%;">Votre navigateur n'est pas compatible</audio>
        <table width="100%">
          <tr>
            <td>
              <h3>{{musique.titre }} </h3>
            </td>
            <td width="10%">
               <a class="btn btn-lg" [href]="musique.musiquecomplet | musiquefull"  [download]="musique.musiquecomplet | musiquefull"><span class="glyphicon glyphicon-download-alt"></span></a>
              </td>
          </tr>
          <tr>
            <td>
              <h5>{{musique.auteur}} </h5>
            </td>
          </tr>
        </table>
      </div>
  </div>
</span>

<span *ngIf="listeMusiqueAchete.length == 0">
  <img src="image/notfound.png">
</span>

