<hr>
  <h1>Mon panier </h1>
<hr>

<span *ngIf="listeMusiquePanier.length != 0">

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Auteur</th>
        <th scope="col">Titre</th>
        <th scope="col">Prix</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let musiquePanier of listeMusiquePanier; index as i;">
        <th scope="row">{{i+1}}</th>
        <td><img [src]="musiquePanier.image | image" height="50px"/></td>
        <td>{{musiquePanier.auteur}}</td>
        <td>{{musiquePanier.titre}}</td>
        <td>{{musiquePanier.prix}} €</td>
        <td><button class="btn btn-lg btn-info" (click)="deleteItem(i)"><span class="glyphicon glyphicon-trash"></span></button></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td>Total</td>
        <td>{{getTotal()}} €</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <div class="row">
    <div class="col-6"><button type="button" class="btn btn-outline-secondary btn-lg" routerLink="">Continuer mes achats</button></div>
    <div class="col-3"><span class="float-right"><button type="button" class="btn btn-success btn-lg" (click)="goToConfirmation()">Passer ma commande</button></span></div>
  </div>
</span>

<span *ngIf="listeMusiquePanier.length == 0">
  <img src="image/notfoundpanier.png">
</span>
