<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Ajouter de l'argent à votre porte monnaie</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #formulaire="ngForm" (submit)="ajouterSolde()">
      <div class="form-group">
        <label for="soldeactuel">Solde actuel</label>
        <input type="number" class="form-control" id="soldeactuel" name="soldeactuel" [(ngModel)]="soldeactuel" disabled>
      </div>
      <div class="form-group">
        <label for="ajout">Montant que vous souhaitez ajouter</label>
        <input type="number" class="form-control" id="ajout" name="ajout" [(ngModel)]="solde" required pattern="\d+">
      </div>
      <div class="form-group">
        <label for="newsolde">Nouveau solde</label>
        <input type="number" class="form-control" id="newsolde" name="newsolde" value="{{newsolde}}" disabled>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Annuler</button>
    <button type="submit" class="btn btn-primary btn-default" [disabled]="!formulaire.form.valid || tropArgent" (click)="ajouterSolde()">Ajouter</button>
  </div>
</ng-template>

<button class="btn btn-outline-primary" (click)="open(content)"><span class="glyphicon glyphicon-credit-card"></span> {{membreConnecter.membre.argent}} €</button>
