
<div class="col-xs-12 col-md-3 col-lg-3">
  <div *ngIf="nomPlaylist.length>0">
    <div ngbDropdown class="d-inline-block btn-block">
      <button class="btn btn-success btn-lg btn-block" id="dropdown" ngbDropdownToggle><span class="glyphicon glyphicon-plus"></span> Ajouter une musique</button>
      <button class="btn btn-danger btn-lg btn-block" (click)="deleteMusique()">Supprimer la playlist</button>
      <div ngbDropdownMenu aria-labelledby="dropdown">
        <button class="dropdown-item" *ngFor="let musique of listAdd; index as i;" (click)="createPlaylistMusique(musique)">{{musique.auteur}} - {{musique.titre}}</button>
      </div>
    </div>
    <hr>
  </div>
  <p>
    <button class="btn btn-success btn-lg btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><span class="glyphicon glyphicon-plus"></span> Nouvelle playlist</button>
  </p>

  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <form #formulaire="ngForm" (submit)="createPlaylist()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom" [(ngModel)]="nom" required>
      </div>
      <button type="submit" class="btn btn-primary btn-default" [disabled]="!formulaire.form.valid">Ajouter</button>
    </form>
    <br>
  </div>

  <p>
    <span *ngIf="listePlaylist.length != 0">
      <p *ngFor="let playlist of listePlaylist; index as i;">
        <button class="btn btn-primary btn-lg btn-block" (click)="updateList(playlist, i)" >{{playlist.nom}}</button>
      </p>
    </span>

    <span *ngIf="listePlaylist.length == 0">
      <ngb-alert [dismissible]="false">
        <strong>Pas de playlist disponible...</strong>
      </ngb-alert>
    </span>
  </p>
</div>

<div class="col-xs-12 col-md-9 col-lg-9">

  <div class="center" *ngIf="nomPlaylist.length>0">
    <hr><h3>{{nomPlaylist}}</h3><hr>
  </div>

  <div class="center" *ngIf="nomPlaylist.length<1">
    <hr><h3>Pas de playlist selectionnée</h3><hr>
  </div>

  <div *ngIf="listeMusique.length != 0">
    <div *ngFor="let musique of listeMusique; index as i;">
      <div class="col-xs-6 col-md-4 col-lg-4">
        <div class="thumbnail">
          <img [src]="musique.image | image"  width="100%" height="100%">
          <audio controls controlsList="nodownload" [src]="musique.url | musiquefull" style="width:100%;">Votre navigateur n'est pas compatible</audio>
          <table width="100%">
            <tr>
              <td colspan="2">
                <h5><b>{{musique.titre }}</b></h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5>{{musique.auteur}} </h5>
              </td>
              <td width="10%">
                <button class="btn btn-default btn-danger" (click)="delete(musique.id_musique, i)" ><span class="glyphicon glyphicon-trash"></span></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="listeMusique.length == 0">
    <img src="image/notfound.png">
  </div>
</div>





