

<div class="col-lg-9">
  <span *ngIf="nomPlaylist.length>0">
    <ngb-alert [dismissible]="false" type="primary">
      <strong>{{nomPlaylist}}</strong>
    </ngb-alert>
    <div>
      <p>
        <button class="btn btn-success btn-lg btn-default" (click)="estCache = !estCache" [attr.aria-expanded]="!estCache" aria-controls="collapse"><span class="glyphicon glyphicon-plus"></span> Ajouter une musique</button>
      </p>
      <div id="collapse" [ngbCollapse]="estCache">
          <span *ngIf="listAdd.length==0">
            <ngb-alert [dismissible]="false">
              <strong>Pas de musique disponible</strong>
            </ngb-alert>
          </span>
        <span *ngIf="listAdd.length>0">
          <form>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-success  btn-lg btn-default" id="dropdown" ngbDropdownToggle>Choisir une musique...</button>
              <div ngbDropdownMenu aria-labelledby="dropdown">
                <button class="dropdown-item" *ngFor="let musique of listAdd; index as i;" (click)="createPlaylistMusique(musique)">{{musique.auteur}} - {{musique.titre}}</button>
              </div>
            </div>
          </form>
          <br>
        </span>
      </div>
    </div>
    {{id_playlist}}
  </span>
  <span *ngIf="listeMusique.length != 0">
    <span *ngFor="let musique of listeMusique; index as i;">
      <div class="col-lg-11">
        <iframe width="100%" height="166" scrolling="no" frameborder="no"  single_active="true" [src]="musique.url | urlSafe"></iframe>
      </div>
      <div class="col-lg-1">
        <button class="btn btn-lg btn-danger" (click)="delete(musique.id_musique, i)" ><span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </span>
  </span>

  <span *ngIf="listeMusique.length == 0">
    <ngb-alert [dismissible]="false">
      <strong>Pas de musique disponible...</strong>
    </ngb-alert>
  </span>
</div>
<div class="col-lg-3">
  <p>
    <button class="btn btn-success btn-lg btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><span class="glyphicon glyphicon-plus"></span> Nouvelle playlist</button>
  </p>

  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <form #formulaire="ngForm" (submit)="createPlaylist()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom" [(ngModel)]="nom" required>
      </div>
      <button type="submit" class="btn btn-primary btn-default" [disabled]="!formulaire.form.valid">Ajouter</button>
    </form>
    <br>
  </div>

  <p>
    <span *ngIf="listePlaylist.length != 0">
      <p *ngFor="let playlist of listePlaylist; index as i;">
        <button class="btn btn-primary btn-lg btn-block" (click)="updateList(playlist)" >{{playlist.nom}}</button>
      </p>
    </span>

    <span *ngIf="listePlaylist.length == 0">
      <ngb-alert [dismissible]="false">
        <strong>Pas de playlist disponible...</strong>
      </ngb-alert>
    </span>
  </p>
</div>


