<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">

  <a class="navbar-brand" routerLink=""><h4>CityTrack</h4></a>
  <button class="navbar-toggler" type="button" onclick="verification()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div *ngIf="singletonMembre.isConnected; then connected else notconnected"></div>
  <!--Connecté-->
  <ng-template #connected>

    <div ngbDropdown placement="bottom-right" class="d-inline-block">
      <button class="btn btn-outline-primary" routerLink="panier"><span class="glyphicon glyphicon-shopping-cart"></span> Panier</button>
      <button class="btn btn-outline-primary" routerLink="credit"><span class="glyphicon glyphicon-credit-card"></span> {{singletonMembre.membre.argent}} €</button>
      <button class="btn btn-outline-primary" id="dropdownBasicConnected" ngbDropdownToggle>{{singletonMembre.membre.prenom}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasicConnected">
        <button class="dropdown-item" routerLink="gestionAccount">Mon compte</button>
        <button class="dropdown-item" routerLink="gestionPlaylist">Mes playlists</button>
        <button class="dropdown-item" routerLink="mesmusiques">Mes musiques</button>
        <div *ngIf="singletonMembre.membre.administrateur">
          <button class="dropdown-item" routerLink="gestionMusique">Gérer les musiques</button>
        </div>
        <button class="dropdown-item">--------------</button>
        <button class="dropdown-item" (click)="singletonMembre.supprimerConnexion();">Se déconnecter</button>
      </div>
    </div>
  </ng-template>

  <!--Pas connecté-->
  <ng-template #notconnected>
    <app-modal-sign-up></app-modal-sign-up>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <app-modal-log-in></app-modal-log-in>
  </ng-template>
</nav>
