
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">

      <a class="navbar-brand" routerLink=""><h4>TrackCity</h4></a>

      <div *ngIf="singletonMembre.isConnected; then connected else notconnected"></div>
        <!--Connecté-->
        <ng-template #connected>
          <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <button class="btn btn-outline-primary" routerLink="panier">
              <div *ngIf="serviceAchat.nbPanier!=0">
                <span class="glyphicon glyphicon-shopping-cart"></span> Panier [{{serviceAchat.nbPanier}}]
              </div>
              <div *ngIf="serviceAchat.nbPanier==0">
                <span class="glyphicon glyphicon-shopping-cart"></span> Panier
              </div>

            </button>
            <app-modal-credit></app-modal-credit>
            <button class="btn btn-outline-primary" id="dropdownBasicConnected" ngbDropdownToggle>{{singletonMembre.membre.prenom}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasicConnected">
              <button class="dropdown-item" routerLink="gestionAccount">Mon compte</button>
              <button class="dropdown-item" routerLink="gestionPlaylist">Mes playlists</button>
              <button class="dropdown-item" routerLink="mesmusiques">Mes musiques</button>
              <div *ngIf="singletonMembre.membre.administrateur">
                <button class="dropdown-item" routerLink="gestionMusique">Gérer les musiques</button>
              </div>
              <button class="dropdown-item" disabled><hr></button>
              <button class="dropdown-item" (click)="singletonMembre.supprimerConnexion();">Se déconnecter</button>
            </div>
          </div>
        </ng-template>
        <!--Pas connecté-->
        <ng-template #notconnected>
          <div ngbDropdown placement="bottom-right" class="d-inline-block">
            <app-modal-sign-up></app-modal-sign-up>
            <button class="btn btn-outline-primary" (click)="ouvrir()">Se connecter</button>
          </div>
        </ng-template>
    </div>

</nav>
