<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modifier votre mot de passe</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #formProduct="ngForm">
      <div class="form-group">
        <label for="password">Mot de de passe actuel :</label>
        <input  name="oldPassword" id="oldPassword" class="form-control" type="password" placeholder="Mot de passe actuel" aria-label="Mot de passe actuel" [(ngModel)]="tmpOldPassword" required minlength="4" maxlength="30">
        <small *ngIf="pasCorrect" class="text-danger">
          Le mot de passe n'est pas correct !
        </small>
      </div>
      <div class="form-group">
        <label for="password">Nouveau mot de de passe :</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Nouveau mot de passe" [(ngModel)]="tmpPassword" required minlength="4" maxlength="30" validateEqual="confirmPassword" reverse="true" #password="ngModel">
        <small [hidden]="password.valid" class="text-danger">
          Le mot de passe doit comporter au moins 4 caractères et au plus 30 caractères
        </small>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmez le nouveau mot de passe :</label>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirmez le nouveau mot de passe" [(ngModel)]="tmpConfirmPassword" required validateEqual="password" reverse="false" #confirmPassword="ngModel">
        <small [hidden]="!(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched))" class="text-danger">
          Le mot de passe ne correspond pas !
        </small>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Annuler</button>
    <button type="submit" class="btn btn-success" [disabled]="!formProduct.form.valid" (click)="changerPassword();">Confirmer</button>
  </div>
</ng-template>

<button class="btn btn-primary btn-lg" (click)="open(content)">Modifier le mot de passe</button>
