<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modifier votre mot de passe</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <input class="form-control" type="password" placeholder="Mot de passe actuel" aria-label="Mot de passe actuel">
      <input class="form-control" type="password" placeholder="Nouveau mot de passe" aria-label="Nouveau mot de passe">
      <input class="form-control" type="password" placeholder="Confirmer le nouveau mot de passe" aria-label="Confirmer le nouveau mot de passe">
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Annuler</button>
    <button type="submit" class="btn btn-success">Confirmer</button>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">Modifier le mot de passe</button>
