<br>
<form #formulaire="ngForm" (submit)="ajouterSolde()">
  <div class="form-group">
    <label for="soldeactuel">Solde actuel</label>
    <input type="number" class="form-control" id="soldeactuel" name="soldeactuel" [(ngModel)]="soldeactuel" disabled>
  </div>
  <div class="form-group">
    <label for="ajout">Montant</label>
    <input type="number" class="form-control" id="ajout" name="ajout" [(ngModel)]="solde" required min="0">
  </div>
  <div class="form-group">
    <label for="newsolde">Nouveau solde</label>
    <input type="number" class="form-control" id="newsolde" name="newsolde" value="{{newsolde}}" disabled>
  </div>

  <button type="submit" class="btn btn-primary btn-default" [disabled]="!formulaire.form.valid">Confirmer</button>
  <small *ngIf="modifOk" class="text-success">
    Votre montant a bien été ajouté à votre portefeuille
  </small>
</form>
