<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Inscrivez-vous pour accéder à plus de fonctionnalités</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #formProduct="ngForm">
      <div class="form-group">
        <label for="nom">Nom : </label>
        <input id="nom" name="nom" type="text" class="form-control" id="nom" placeholder="Nom" required minlength="2" maxlength="30"  [(ngModel)]="tmpNom">
      </div>
      <div class="form-group">
        <label for="prenom">Prénom : </label>
        <input id="prenom" name="prenom" type="text" class="form-control" id="prenom" placeholder="Prénom" required minlength="2" maxlength="30"  [(ngModel)]="tmpPrenom">
      </div>
      <div class="form-group">
        <label for="mail">Email : </label>
        <input name="mail" type="email" class="form-control" id="mail" placeholder="Mail" required email maxlength="100" [(ngModel)]="tmpMail">
        <small [hidden]="mailTest" class="text-danger">
          Cette adresse email est déjà utilisée ! Merci d'en utiliser une autre !
        </small>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe" [(ngModel)]="tmpPassword" required minlength="4" maxlength="30" validateEqual="confirmPassword" reverse="true" #password="ngModel">
        <small [hidden]="password.valid" class="text-danger">
          Le mot de passe doit comporter au moins 4 caractères et au plus 30 caractères
        </small>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmez le mot de passe :</label>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirmez le mot de passe" [(ngModel)]="tmpConfirmPassword" required validateEqual="password" reverse="false" #confirmPassword="ngModel">
        <small [hidden]="!(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched))" class="text-danger">
          Le mot de passe ne correspond pas !
        </small>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Annuler</button>
    <button type="button" class="btn btn-success" [disabled]="!formProduct.form.valid" (click)="inscription();">S'inscrire</button>
  </div>
</ng-template>



<button class="btn btn-primary" (click)="open(content)">S'inscrire</button>
