<div class="card" *ngFor="let musique of listeMusique; index as i;">
  <div class="card-body">
    <div class="col-lg-9">
      <h4><b> {{musique.auteur}} - {{musique.titre }} </b>  </h4>
    </div>
    <div class="col-lg-2">
      <h4><i> {{musique.style}} </i></h4>
    </div>
    <div class="col-lg-1">
      <div *ngIf="singletonMembre.isConnected; then connected else notconnected"></div>
      <ng-template #connected>
        <button class="btn btn-lg btn-info" (click)="create(musique.id_musique)" ><span class="glyphicon glyphicon-shopping-cart"></span> <i>{{musique.prix}} €</i></button>
      </ng-template>
      <ng-template #notconnected>
        <button class="btn btn-lg btn-info" (click)="create(musique.id_musique)" disabled="true" ><span class="glyphicon glyphicon-shopping-cart"></span> <i>{{musique.prix}} €</i></button>
      </ng-template>
    </div>
   </div>
</div>



