<div *ngFor="let musique of listeMusique; index as i;">
  <div class="col-xs-6 col-md-4 col-lg-3">
    <div class="thumbnail">
      <img [src]="musique.image | image"  width="100%" height="100%">

      <div *ngIf="musique.achete; then achetedMusique else notachetedMusique"></div>

        <ng-template #achetedMusique>
          <div *ngIf="singletonMembre.isConnected; then musiqueConnected else musiquePasConnected"></div>

            <ng-template #musiqueConnected>
              <audio controls controlsList="nodownload" [src]="musique.url | musiquefull" style="width:100%;">Votre navigateur n'est pas compatible</audio>
            </ng-template>

            <ng-template #musiquePasConnected>
              <audio controls controlsList="nodownload" [src]="musique.url | preview" style="width:100%;">Votre navigateur n'est pas compatible</audio>
            </ng-template>

        </ng-template>

        <ng-template #notachetedMusique>
          <audio controls controlsList="nodownload" [src]="musique.url | preview" style="width:100%;">Votre navigateur n'est pas compatible</audio>
        </ng-template>

      <table>
        <tr>
          <td colspan="2">
            <h5><b>{{musique.titre }}</b> </h5>
          </td>
        </tr>
        <tr>
          <td >
            <h5>{{musique.auteur}} </h5>
          </td>
          <td width="15%">

            <div *ngIf="singletonMembre.isConnected; then connected else notconnected"></div>

              <ng-template #connected>
                <div *ngIf="musique.achete ; then notacheted"></div>
                <ng-template #notacheted>
                  <button class="btn" (click)="create(i)" style="background-color:#32a929;"><span class="glyphicon glyphicon-shopping-cart"></span> <i>{{musique.prix}} €</i></button>
                </ng-template>
              </ng-template>

              <ng-template #notconnected>
                <button class="btn" disabled="true"><span class="glyphicon glyphicon-shopping-cart"></span> <i>{{musique.prix}} €</i></button>
              </ng-template>

          </td>
        </tr>
      </table>
    </div>
  </div>
</div>



