<ngb-tabset justify="fill" type="pills">
  <ngb-tab>
    <ng-template ngbTabTitle><h5><b>Ajouter</b></h5></ng-template>
    <ng-template ngbTabContent>
      <br>
      <form #formulaire="ngForm" (submit)="createMusique()">
        <div class="form-group">
          <label for="titre">Titre</label>
          <input type="text" class="form-control" id="titre" placeholder="Titre" name="titre" [(ngModel)]="titre" required maxlength="50">
        </div>
        <div class="form-group">
          <label for="auteur">Auteur</label><br>
          <input type="text" class="form-control" id="auteur" placeholder="Auteur" name="auteur" [(ngModel)]="auteur" required maxlength="50">
        </div>
        <div class="form-group">
          <label for="style">Style</label>
          <input type="text" class="form-control" id="style" placeholder="Style" name="style" [(ngModel)]="style" required maxlength="30">
        </div>
        <div class="form-group">
          <label for="url">Fichier audio</label>
          <input type="text" class="form-control" id="url" placeholder="Fichier audio - ex: light.mp3" name="url" [(ngModel)]="url" required maxlength="50">
        </div>
        <div class="form-group">
          <label for="image">Fichier image</label>
          <input type="text" class="form-control" id="image" placeholder="Fichier image - ex: light.png" name="image" [(ngModel)]="image" required maxlength="50">
        </div>
        <div class="form-group">
          <label for="prix">Prix</label>
          <input type="number" class="form-control" id="prix" placeholder="Prix" name="prix" [(ngModel)]="prix" required>
        </div>
        <button type="submit" class="btn btn-primary btn-default" [disabled]="!formulaire.form.valid">Ajouter</button>
      </form>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><h5><b>Modifier</b></h5></ng-template>
    <ng-template ngbTabContent>
      <br>
      <form>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary btn-default" id="dropdownBasic1" ngbDropdownToggle>Choisir une musique...</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" *ngFor="let musique of listeMusique; index as i;" (click)="modifier(i)">{{musique.auteur}} - {{musique.titre}}</button>
          </div>
        </div>
      </form>
      <br>
      <form #formulaire="ngForm" (submit)="modifierMusique()">
        <div class="form-group">
          <label for="titre">Titre</label>
          <input type="text" class="form-control" id="titre" placeholder="Titre" name="titre" [(ngModel)]="titre" required maxlength="50">
        </div>
        <div class="form-group">
          <label for="auteur">Auteur</label><br>
          <input type="text" class="form-control" id="auteur" placeholder="Auteur" name="auteur" [(ngModel)]="auteur" required maxlength="50">
        </div>
        <div class="form-group">
          <label for="style">Style</label>
          <input type="text" class="form-control" id="style" placeholder="Style" name="style" [(ngModel)]="style" required maxlength="30">
        </div>
        <div class="form-group">
          <label for="url">Fichier audio</label>
          <input type="text" class="form-control" id="url" placeholder="Fichier audio - ex: light.mp3" name="url" [(ngModel)]="url" required maxlength="50" >
        </div>
        <div class="form-group">
          <label for="image">Fichier image</label>
          <input type="text" class="form-control" id="image" placeholder="Fichier image - ex: light.png" name="image" [(ngModel)]="image" required maxlength="50">
        </div>
        <div class="form-group">
          <label for="prix">Prix</label>
          <input type="number" class="form-control" id="prix" placeholder="Prix" name="prix" [(ngModel)]="prix" required>
        </div>
        <button type="submit" class="btn btn-primary btn-default" [disabled]="!formulaire.form.valid">Modifier</button>
      </form>

    </ng-template>
  </ngb-tab>
</ngb-tabset>
